<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Ecomerce</title>
   {{!-- no es href="./public/css/style.css" , se entiende que / hace referencia a public --}}
   {{!-- Implemento hoja de estilos --}}
   <link rel="stylesheet" href="/css/style.css">

</head>

<body>

   {{!-- Lo que esta dentro del body cambia constantemente --}}
   {{!-- <nav> </nav> --}}
   {{!-- cada una de las paginas se renderiza donde esta ests etiqueta body --}}
   {{{body }}}
   {{!-- <footer> </footer> --}}

</body>

</html>